@import url("./typography.css");
@import url("./colors.css");
@import url("./navbar.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

:root{
  --example-bg : #1E293B;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.sidebar{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 5rem; /* Stay at the top */
  left: 0;
}

.sidebar-link{
  text-decoration: none;
  color : #64748b;
}

.active .sidebar-link{
  color : var(--secondary-color);
}

.super-categories {
  color: aliceblue;
  margin-left: 8rem;
}

.sub-categories {
  list-style-type: none;
  padding-left: 0px;
  color: #64748b;
}

.category {
  cursor: pointer;
  border: 0px;
  border-style: solid;
  border-left-width: 0.2px;
  margin-left: 0.5px;
  padding: 15px;
}

.category:hover {
  color: #cbd5e1;
}

.category.active {
  border: 0px;
  border-style: solid;
  border-left-width: 3px;
  margin-left: 0px;
  color: var(--secondary-color);
}

.doc-content {
  width: 90%;
  display: flex;
  color: var(--text-color-2);
}
.component-desc {
  width: 75%;
  text-align: justify;
  margin-left:30rem;
}

.super-heading{
  color: var(--secondary-color);
}
.category-heading{
  color:var(--text-color);
}

.content-category{
  color:var(--text-color);
}

.example-container{
  width: 80%;
  padding: 1rem;
  border: solid;
  border-radius: 1rem;
  border-width: 1px;
  border-color: var(--primary-color-2);
}

.code-snippet{
  margin:2rem 0;
  width: 80%;
}

.divider{
    margin: 2rem 0;
    height: 1px;
    width: 90%;
    background-color: var(--primary-color-2);
}

