<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./image.css">
    <title>Image | Flow UI</title>
</head>

<body>
    <div class="main-wrapper">
        <!-- Documentation => " Navbar " -->
        <nav class="main-nav">
            <a class="no-underline logo-text" href="/index.html">Flow UI</a>
            <div class="nav-btn-wrapper">
                <a class="no-underline nav-btn font-semibold btn-doc hover-link" href="index.html">Docs</a>
                <a class="no-underline nav-btn font-semibold" href="https://github.com/Shashank-Jha/flow-ui-library">Github</a>
            </div>
        </nav>

        <div class="doc-content">
            <!-- Documentation => "Aside Section" -->
            <aside class="sidebar">
                <div class="super-categories">
                    <h4>Getting Started</h4>
                    <ul class="sub-categories">
                        <li class="category"><a class="sidebar-link" href="">Introduction</a></li>
                        <li class="category"><a class="sidebar-link" href="">Colors</a></li>
                        <li class="category"><a class="sidebar-link" href="">Typography</a></li>
                    </ul>
                </div>
                <div class="super-categories">
                    <h4>Components</h4>
                    <ul class="sub-categories">
                        <li class="category"><a class="sidebar-link" href="/components/Alert/alert.html">Alert</a></li>
                        <li class="category"><a class="sidebar-link" href="/components/Avatar/avatar.html">Avatar</a></li>
                        <li class="category"><a class="sidebar-link" href="/components/Badge/badge.html">Badge</a></li>
                        <li class="category"><a class="sidebar-link" href="/components/Button/button.html">Button</a></li>
                        <li class="category"><a class="sidebar-link" href="/components/Card/card.html">Card</a></li>
                        <li class="category"><a class="sidebar-link" href="/components/Image/image.html">Grid</a></li>
                        <li class="category active"><a class="sidebar-link" href="">Image</a></li>
                        <li class="category"><a class="sidebar-link" href="">Input</a></li>
                    </ul>
                </div>
            </aside>
            <main class="component-desc">
                <h4 class="super-heading">Flow Components</h4>
                <h1 class="category-heading ">Image</h1>
                <p class="content-description">Image components are used in visual representation which can be screen
					responsive or can be in circle shape.
				</p>
                <div class="divider"></div>

                <h2 class="content-category">Responsive Image</h2>
				<p class="content-category-description">The responsive image expands to cover the parent container.
					Add <span class="content-highlight">img-responsive</span> class and resize the browser window to see
					the
					responsiveness.
				</p>
				<div class="example-container">
					<img class="img-responsive"
						src="https://images.unsplash.com/photo-1637595056843-c80c2f49c861?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1146&q=80"
						alt="responsive-image" />
				</div>
				<div class="code-snippet">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2819%2C47%2C76%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=743.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522...%2522alt%253D%2522...%2522%2520%252F%253E"
                    style="width: 744px; height: 190px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
				</div>
				<h2 class="content-category">Round Image</h2>
				<p class="content-category-description">Round image has a circle shape which can be used as profile pic
					avatar etc. It has default dimension of 160px X 160px.
				</p>
				<div class="example-container">
					<img class="img-round"
						src="/assets/avatar_5.jpg"
						alt="round-image" />
				</div>
				<div class="code-snippet">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2819%2C47%2C76%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=743.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522...%2522alt%253D%2522...%2522%2520%252F%253E%250A%2520%2520"
                    style="width: 744px; height: 212px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
				</div>
				<h2 class="content-category">Image with Rounded Corners</h2>
				<p class="content-category-description">This image has a slight border-radius at the corners.
				</p>
				<div class="example-container">
					<img class="img-with-rounded-corners"
						src="https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
						alt="image-with-rounded-image" />
				</div>
				<div class="code-snippet">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2819%2C47%2C76%2C1%29&t=night-owl&wt=none&l=htmlmixed&width=743.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522img-with-rounded-corners%2522%2520src%253D%2522...%2522alt%253D%2522...%2522%2520%252F%253E%250A%2520%2520"
                    style="width: 770px; height: 212px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe>
				</div>

                <div class="divider"></div>

                <!-- Left & Right Navigation Button  -->
                <div class="back-btn-container">
					<div class="left">
						<a href="/components/Grid/grid.html">
							<span class="material-icons">chevron_left</span>
							Grid
						</a>
					</div>
					<div class="right">
						<a href="/components/Input/input.html">
							Input
							<span class="material-icons">chevron_right</span>
						</a>
					</div>
				</div>

            </main>
        </div>

    </div>
	<script src="../../javascript/sidebar.js"></script>
</body>

</html>