@import url(/css/docs.css);

.alert{
  display: flex;
  align-items: center;
    padding:1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-weight: 400;
}

    .alert-primary {
        background-color: var(--light-blue);
        color: var(--secondary-color);
      }
      .alert-success {
        background-color: var(--light-green);
        color: var(--green);
      }
      .alert-danger {
        background-color: var(--light-red);
        color: var(--red);
      }
      .alert-warning {
        background-color: var(--light-orange);
        color: var(--orange);
      }
      .alert-dark {
        background-color: var(--dark);
        color: var(--secondary);
      }

      /* Icon Alert */
      .alert .material-icons-outlined {
        margin-right: 1rem;
      }
      
      .alert .material-icons {
        margin-right: 1rem;
      }

      .alert-close {
        display: flex;
        align-items: center;
      }

      .alert-close .alert-left {
        display: inline-flex;
        flex: 1;
        align-items: center;
      }
      
      .alert-close .icon-close {
        margin: 0;
        cursor: pointer;
      }

      .reset-alert-preview{
        display: none;
        text-align: center;
      }
      .reset-alert-preview:hover{
        cursor: pointer;
      }

      .alert-preview{
        display:block;
      }

      @media only screen and (min-width: 600px) {
        .alert {
          padding: 1rem 1.5rem;
        }
      }